$container-width: 1234px;
$font: sans-serif,'Roboto';
$main-color:#6D6D6D;

#offers{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/offers/bgoffers.png") center/cover no-repeat;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $container-width;
    padding-top: 49px;
    padding-bottom: 55px;
    h1{
      font-family:sans-serif,'Roboto';
      font-style: italic;
      font-weight: 900;
      font-size: 48px;
      line-height: 183.8%;
      color: $main-color;
    }
    .offers{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      .tariff{
        background: linear-gradient(180deg, #F8F1FF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #DEE5FF 0%, rgba(255, 255, 255, 0) 100%), #D3EAFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 25px;
        padding:26px 26px 21px 21px ;
        width: 20%;
        margin: 15px;
        .tariffTopText{
          display: inline-block;
          text-align: left;
          font-family:$font;
          font-style: normal;
          font-weight: 900;
          font-size: 10px;
          line-height: 183.8%;
          text-transform: uppercase;
          color: $main-color;
          background: #DEDEDE;
          padding: 5px;
        }
        .tariffTitle{
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          padding-top: 15px;
          h3{
            font-family:$font;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 183.8%;
            color: $main-color;
          }
          span{
            font-family:$font;
            font-style: normal;
            font-weight: 900;
            font-size: 11px;
            line-height: 183.8%;
            color: #1DB34B;
            padding-bottom: 14px;
          }
          .tariffLine{
            border: 1px solid #1DB34B;
            width: 42px;
          }
        }

        .tariffText{
          width: 80%;
          padding-top: 37px;
          padding-bottom: 66px;
          p{
            font-family:$font;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 128.3%;
            font-variant: small-caps;
            color: #909090;
          }
        }
        .offerButton{
          width: 80%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: linear-gradient(244.28deg, #D7B8FF -7.14%, rgba(255, 255, 255, 0) 57.53%), #A391C1;
          border-radius: 32px;
          text-decoration: none;
          padding: 8px 14px 8px 21px;
          margin: 0 auto;
          span{
            font-family: $font;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.002em;
            color: #FFFFFF;
          }
          .roundedBlock{
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            padding: 9px;
          }
        }
      }
    }
  }
}